<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-8">
        <form class="form-horizontal">
          <fieldset>
            <legend>Search Patient</legend>
            
            <div class="form-group">
              <label for="inputPatientNo" class="col-md-1 control-label">Patient No.</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" id="inputPatientNo" placeholder="Please enter the Patient No.">
              </div>
            </div>
            
            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-1">
                <button type="reset" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-primary" data-ng-click="search()">Search</button>
              </div>
            </div>
          </fieldset>
        </form>
    </div>

    <div class="col-md-2">
        &nbsp;
    </div>
</div>